*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: brown;
    margin-bottom: 2rem;
}

h2{
    color: blueviolet;
    margin-bottom: 1.5rem;
}

p{
    margin-bottom: 1.5rem;
    text-align: left;
}

h4{
    color: chocolate;
}

ul{
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding-top: .5rem;
}

li{
    margin: .5rem 2rem;
    text-underline-offset: -4rem; /* XD */
}

.active {
    color: red;
}

.container{
    margin: 0 auto;
    max-width: 90%;
}
.post-card{
    background-color: wheat;
    border: 1px solid black;
    border-radius: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 2rem;
}

button{
    padding: .5rem;
    margin-bottom: 1rem;
    margin-right: .5rem;
}

button:hover{
    background-color: greenyellow;
}